#navbar {
  background-color: #C0C0C0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  top: 0;
  left: 1;
  min-height: 100%;
  width: 150px;
  position: fixed;
  z-index: 1;
}

#main-doc {
  display: inline-block;
  position: relative;
  padding-left: 155px;
}

@media only screen and (max-width: 480 px) {
  #navbar {
    display: none;
  }
}